* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font: normal 16px sans-serif;
  color: #fff;
  background: rgb(20,20,20);
  text-align: center;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
